<div class="container">
  <div class="row-fluid margin-bottom-10">
    <br />
    <div class="span4 well well-large">
      <div class="headline">
        <h3>Sign up</h3>
      </div>
      <br />
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
        <%= f.error_notification %>
        <%= display_base_errors resource %>
        <%= f.input :name, :autofocus => true %>
        <%= f.input :email, :required => true %>
        <%= f.input :password, :required => true %>
        <%= f.input :password_confirmation, :required => true %>
        <%= f.button :submit, 'Sign up', :class => 'btn-primary btn-u' %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>