<!-- Logo -->
<div class="logo">
  <%= link_to(image_tag('RBT-Logo.png', :id => 'logo-header'), root_url) %> 
</div>
<!-- /logo -->

<!-- Menu -->
<div class="navbar">
  <div class="navbar-inner">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="nav-collapse collapse">
      <ul class="nav top-2">
        <li>
          <%= link_to(root_path) do %>
            <i class="icon-home"></i>&nbsp;
            Home
          <% end %>
        </li>
        <li>
          <%= link_to 'About', about_path %>
        </li>
        <li>
          <%= link_to  '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' do %>
            Scanners
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to 'Live Dashboard Feed', 'http://dashing.rb-trader.com' %></li>
            <li><%= link_to 'Unusual Options Scanner', coming_soon_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' do %>
            Data
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to 'Ticker Plant', ticker_plant_path %></li>
            <li><%= link_to 'Historical Database', historical_db_path %></li>
            <li class="dropdown-submenu">
              <%= link_to 'Trade Scanner Viewer', trade_scanner_viewer_path, :tabindex => '-1' %>
              <ul class="dropdown-menu">
                <li><%= link_to 'Platform Integration', trade_scanner_viewer_path(:anchor => 'platform-integration') %></li>
                <li><%= link_to 'Options Quote Board', trade_scanner_viewer_path(:anchor => 'options-quote-board') %></li>
                <li><%= link_to 'Locked Market / Inversion Scanner', trade_scanner_viewer_path(:anchor => 'locked-market-inversion-scanner') %></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' do %>
            Execution Services
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to 'Trade Servers', network_path(:anchor => 'trade-servers') %></li>
            <li><%= link_to 'FIX Trading', network_path(:anchor => 'fix-trading ') %></li>
          </ul>
        </li>
        <li>
          <%= link_to 'Blog', 'http://rbtrader.tumblr.com/' %>
        </li>
        <li>
          <%= link_to 'Contact', contact_path %>
        </li>
      </ul>
    </div><!-- /nav-collapse -->

  </div><!-- /navbar-inner --> 
</div><!-- /navbar --> 