<ul class="loginbar pull-right">
    <li><i class="icon-book"></i>&nbsp;<a href="page_faq.html" class="login-btn">Help</a></li>  
    <li class="devider">&nbsp;</li>

  <% if user_signed_in? %>
    <li>
    <i class="icon-cog"></i>&nbsp;<%= link_to('Edit account', edit_user_registration_path) %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <i class="icon-group"></i>&nbsp;<%= link_to('Admin', users_path) %>
      </li>
    <% end %>
  <% else %>
    <li>
    <i class="icon-pencil"></i>&nbsp;<%= link_to('Register', new_user_registration_path) %>
    </li>
  <% end %>

    <li class="devider">&nbsp;</li>
  <% if user_signed_in? %>
    <li>
    <i class="icon-signout"></i>&nbsp;<%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <i class="icon-signin"></i>&nbsp;<%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>

</ul>